body{
  background-color: #119989;
  text-align: center;
  min-width: 320px;
}
#title{
  text-align: center;
}
#description{
  text-align: center;
}
#form-frame{
  background-color: #4cedd8;
}
.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 23px;
  font-size: 20px;
}
.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
  font-size:15px;
}
.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin-top: 22px;
  border: 1px solid gray;
  border-radius: 10px;
}
#dropdown{
  margin-top: 31px;
}

.subjects,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}
#submit{
  width: 100px;
  height:20px;
  border-radius:20px;
}
#submit:hover {
  background-color: gray;
}
#github-logo{
  width:1.5%;
}
#github-logo:hover{
  width: 1.8%;
}
#footer{
  font-size: 50%;
}
